{%  extends 'king_admin/table_index.html' %}
{% load tags %}


{% block container %}

    {% display_obj_related objs %}

    <ul >
        {% for i in errors %}
            <li style="color:red">{{ i }}</li>
        {% endfor %}
    </ul>
    <form method="post">{% csrf_token %}
        <input type="submit" class="btn btn-danger" value="Yes,I'm sure">
        <input type="hidden" value="yes" name="delete_confirm">
        <input type="hidden" value="{{ selected_ids }}" name="selected_ids">
        <input type="hidden" value="{{ action }}" name="action">
        <a class="btn-info btn" href="{% url "table_objs" app_name table_name %}">No take me back</a>
    </form>

{% endblock %}

