
{% extends 'base.html' %}
 {%  block extra-css-resources %}
        css
 {% endblock %}

{% block body %}
  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>


          <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">

        <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">{{ request.user.name }} <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">配置</a></li>
                 <li><a href="{% url 'acc_logout' %}">注销</a></li>
              </ul>
        </li>
      </ul>
    </div>

</div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>

              {% for role in  request.user.roles.all %}
                  {% for menu in role.menus.all %}
                      {% if menu.url_type == 0 %}
                          <li><a href="{{ menu.url_name }}">{{ menu.name }}</a></li>
                      {% elif  menu.url_type == 1 %}
                           <li><a href="{{  menu.url_name }}" target="right_main">{{ menu.name }}</a></li>
                      {% endif %}
                  {% endfor  %}
              {% endfor %}

          </ul>

        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Dashboard</h1>
{#            <iframe id="right_main" name="right_main"   frameborder="0" style="width:100%; height:800px; ">#}
{#            </iframe>#}

            {% block page-content %}

                                dddddddddd

            {% endblock %}


        </div>
      </div>
    </div>

</body>
{% endblock %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="/static/js/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/static/js/ie10-viewport-bug-workaround.js"></script>
